/*
!/.gitignore
### shell
!/.profile
!/.kshrc

!/.bashrc
!/.zshrc

### configs
!/.config
/.config/*

!/.config/bspwm
!/.config/sxhkd

!/.config/rofi

!/.config/polybar

# fonts
!/.config/fontconfig

# gtk dark mode
!/.config/gtk-3.0
/.config/gtk-3.0/*
!/.config/gtk-3.0/settings.ini

!/.config/gtk-4.0
/.config/gtk-4.0/*
!/.config/gtk-4.0/settings.ini
